* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
html,
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #A9F1DF;  
}

.calc {
  height: 34.375rem;
  width: 34.375rem;
  background-color: transparent;
  box-shadow: 2px 2px 5px black;
  border-radius: 10px;
  background: linear-gradient(135deg,#233E8B,#1EAE98);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.calc .display {
  overflow-x: scroll;
  height: 20%;
  width: 90%;
  background-color: #FFFFC7;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.calc .display span{
  font-size: 3rem;
  color: #233E8B;
  font-weight: bolder;
}

.calc .buttons {
  height: 75%;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.calc .buttons .numbers {
  height: 90%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.calc .buttons .numbers .zero{
    width: 95%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc .buttons .numbers .zero button{
    height: 100%;
    width: 100%;
    background-color: #FFFFC7;
    color: #233E8B;
    font-weight: bolder;
}

.calc .buttons .numbers .remainingNumbers{
    width: 95%;
    height: 85%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-gap: 0.1%;
}

.calc .buttons .numbers .remainingNumbers button{
  background-color: #FFFFC7;
  color: #233E8B;
  font-weight: bolder;
}

.calc .buttons .operators {
  height: 90%;
  width: 27%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.calc .buttons .operators .arthoperators,.calc .buttons .operators .memsci{
    height: 95%;
    width: 45%;
    display: grid;
    grid-gap: 0.2%;
}


.calc .buttons .operators .arthoperators button,.calc .buttons .operators .memsci button{
  background-color: #FFFFC7;
  color: #233E8B;
  font-weight: bolder;
}


@media (max-width: 980px){
  html,body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .calc {
    height: 90%;
    width: 90%;
  }

  .calc .display span{
    font-size: 3rem;
  }

  .calc .buttons .numbers .zero button{
    font-size: 1rem;
  }

  .calc .buttons .numbers .remainingNumbers button,.calc .buttons .operators .arthoperators button,.calc .buttons .operators .memsci button{
    font-size: 2rem;
  }

  .calc .buttons .numbers {
    height: 90%;
    width: 65%;
  }

  .calc .buttons .operators {
    height: 90%;
    width: 32%;
  }

  .calc .buttons .numbers .remainingNumbers{
      grid-gap: 0.3%;
      grid-row-gap: 5%;
  }

  .calc .buttons .numbers .remainingNumbers button,.calc .buttons .operators .arthoperators button,.calc .buttons .operators .memsci button{
    width: 97%;
    height: 97%;
  }
  
}


@media (max-width: 770px){
  .calc .buttons .numbers .remainingNumbers button,.calc .buttons .operators .arthoperators button,.calc .buttons .operators .memsci button{
    font-size: 1.8rem;
  }
  .calc .buttons .numbers .zero button{
    font-size: 1rem;
  }
}

@media (max-width:600px){
  .calc .buttons .numbers .zero button,.calc .buttons .numbers .remainingNumbers button,.calc .buttons .operators .arthoperators button,.calc .buttons .operators .memsci button{
    font-size: 1rem;
  }
  .calc .display span{
    font-size: 2rem;
  }
}

